body{
    padding: 10px;
    font-size: 14px;
}
h1{
    color: #1976d2;
}
h2{
    font-size: 18px;
    color: grey;
}
#top-info{
    position:fixed;
    top:0;
    background-color: white;
    z-index: 100;
    width: 100%;
}
#bottom-info{
    position:fixed;
    bottom:0;
    width: 100%;
    left: 0;
    background-color: white;
    margin: 15px;
}
#no-save-btn{
    margin: 10px;
    background-color: #a000005c;
}
#save-btn{
    margin: 10px;
    background-color: #004ba05c;
}
.spaced-btns{
    padding-top: 15px;
    justify-content: space-between;
    text-align: center;
}
#my-form{
    padding: 15px;
    background-color: rgb(233, 233, 233);
    top: 75px;
    height: 370px;
    position: relative;
    overflow: scroll;
}
table, th, td {
    border: 1px solid;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
th {
    height: 40px;
    text-align: center;
    background-color: rgb(216, 214, 214);
}
th, td {
    padding: 5px;
}
.form-section{
    margin-bottom: 15px;
}
#observations{
    margin-bottom: 0px;
}
button{
    margin-left: 15px;
    margin-right: 15px;
}
.selectBtn{
    width: 20px;
}