body{
    font-size: 14px !important;
}

h3{
    font-size: 18px !important;
}

#titles{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 24px;
    color: #1976d2;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#page-title{
    text-align: left;
    width: 50%;
}

#project-title{
    text-align: right;
    font-size: 18px;
    color: grey;
}

#main-body{
    height: 725px;
}

#left{
    height: 725px;
}

#right{
    height: 725px;
}

#videoDiv{
    height:57%;
    width: 100%;
    text-align: center;
    padding: 13px;
}

#data{
    height: 42%;
    width: 100%;
    padding: 12px;
    padding-right: 0px;
    display: block;
    overflow: scroll;
    margin-bottom: 12px;
    padding-bottom: 0px;
}

#behaviors{
    height: 70%;
    width: 100%;
    padding-top: 12px;
    margin-bottom: 12px;
    display: block;
    overflow: scroll;
}

#subjects{
    width: 50%;
    display: block;
    overflow: scroll;
}

#save{
    width: 50%;
    text-align: center;
}

#subjects-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.save-btn{
    width: 120px !important;
    margin: 15px;
    margin-bottom: 0px;
}

.selectedSubject{
    font-weight: bold;
    border-color: #004ba0;
    border-width: 3px;
}

.selectedData{
    font-weight: bold;
    border-color: #004ba0;
    border-width: 3px;
}

#modifierDiv{
    position: fixed; 
    width: 24%;
    left: 38%;
    top: 35%; 
    z-index: 10; 
    padding: 20px;
    text-align: center;
    border: solid;
    background-color: #a4d3ff;
    display: none;
}

#create-your-own{
    display: none;
}

#options{
    display: none;
}

#modifier{
    margin: 10px;
}

#option{
    margin: 5px;
    font-size: 16px;
}

table, th, td {
    border: 1px solid;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

th {
    text-align: center;
    background-color: rgb(216, 214, 214);
}
th, td {
    padding: 5px;
    height: 40px;
}

tr:nth-child(even) {
    background-color: rgb(234, 232, 232);
}