#logo{
    height: 45px;
}

.navbar-brand{
    padding: 10%;
    
}

.nav-link{
    border: none;
    background-color: white;
    color: #1976d2;
    font-size: 14px;
}

.nav-link:hover{
    color: #004ba0;
    
}

.navbar-nav{
    width: 100%
}

.active > .nav-link{
    color: #004ba0;
    font-weight: bold;
}

.nav-item{
    padding-left: 20%;
}

.nav-item>button{
    text-align: left;
    font-size: 14px;
}

#nav-header{
    padding-top: 8px;
    font-weight: bold;
}

#nav-header-parent{
    height: 40px;
}

#project-section{
    text-align: center;
}

#project-body{
    position:relative;
    top:30px;
    left:0;
    width: 300px;
}

#project-name{
    color: #004ba0;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
}

#inner-data{
    position: relative;
    font-size: 14px;
    left: 15px;
    top: 15px;
}

#settings{
    position:fixed;
    top:0;
    right:0;
    padding: 20px;
}

#settings-icon{
    width: 30px;
}

ul{
    list-style: none;
}

li{
    margin: 5px;
}

.export-button{
    margin: 3px;
}

#logo-big{
    position: relative;
    width: 250px;
    top: 100px;
}

#addObservation{
    font-size: 14px;
}

.observation{
    border: none;
    background-color: white;
    color: #1976d2;
    font-size: 14px;
}

.observation:hover{
    color: #004ba0;
    
}

.container{
    margin: 0px !important;
}